body {
    margin: 0;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
}
.container {
    background: #0c2245;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 16px;
}

.score-box {
    background: #080001;
    width: 150px;
    height: 120px;
    border: 1px solid #059100;
    border-radius: 5px;
    margin-bottom: 25px;

    color: #ff0000;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Black Ops One', cursive;
    font-weight: 400;
    font-size: 90px;

}

.members {
    display: flex;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

h3 {
    font-size: 35px;
    font-family: 'Verdana';
    font-weight: 700;
    margin-bottom: 20px;

}

.btn {
    font-family: 'Black Ops One', cursive;
    background: inherit;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-top: 20px;
 }

#start-btn {
    width: 150px;
    line-height: 30px;
    font-size: 20px;

}

#winner {
    font-size: 16px;
    margin: 20px;
}
